---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "About Me";
const identity = {
firstName: "Shakeel",
country: "UK",
occupation: "Web Designer/Developer",
hobbies: ["F1", "Technology", "Cars" ],
};

const skills = ["html", "css", "Javascript", "Svelte", "Astro", "UI/UX Design"];
const aSkill = ["Brand style", "Brand messaging", "User Experience Design", "User Interface Design", "On page optimisation","Off page optimisation","Technical optimisation", "Google ads account management"];

const happy = true;
const finished = true;
const goal = 3;

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---
<BaseLayout pageTitle={pageTitle}>
	<style define:vars={{skillColor, fontWeight, textCase}}>
		.skill {
			color: var(--skillColor);
			font-weight: var(--fontWeight);
			text-transform: var(--textCase);
		}
	</style>
	<h2>This is a test blog</h2>
	<img src="https://img.endole.co.uk/?t=a39b2d451e99ad8cad7415580e4750c4&l=6879500a6f474b3ef9823f2806dec0b3" title="thats me">
	<p>More info:
	   <a href="https://www.linkedin.com/in/shakeelquadri" target="_blank">Linkedin Profile</a> 
	</p>
	<p>Here are some more facts about me:</p>
	<ul>
		<li>My name is {identity.firstName}.</li>
		<li>They live in {identity.country} and they work as a {identity.occupation}.</li>
		{identity.hobbies.length >= 2 &&
		 <li>Two of my hobbies are : {identity.hobbies[0]} and {identity.hobbies[1]}</li>
		}
	</ul>
	<p>My skills are:</p>
	<ul>
		{skills.map((skill) => <li class="skill">{skill}</li>)}
	</ul>
	{happy && <p>I am happy to be learning Astro!</p>}
	{finished && <p>I have finished this tutorial!</p>}
	{goal === 3 ? <p>My goal is to finish in 3 days</p> : <p>My goal is not 3 days</p>}

	<h2>Additional Skills</h2>
	Building websites isnt my only skill set, in fact that's my newest skillset. For the past 17 years I have been doing the following:
	<ul>
		{aSkill.map((aSkill) => <li class="aSkill">{aSkill}</li>)}
	</ul>
</BaseLayout>